@font-face {
    font-family: 'Kodemono';
    src: url(fonts/KodeMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Comfortaa';
    src: url(fonts/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Radjhani';
    src: url(fonts/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: 'Rajdlight';
    src: url(fonts/Rajdhani-Light.ttf);
}

@font-face {
    font-family: 'Rajdbold';
    src: url(fonts/Rajdhani-Bold.ttf);
}

@font-face {
    font-family: 'Rajdsemi';
    src: url(fonts/Rajdhani-SemiBold.ttf);
}

@font-face {
    font-family: 'Rajdmedium';
    src: url(fonts/Rajdhani-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cadet: #25283d;
    --neon: #4361ee;
    --branco: #fdfffc;
    --cinza: #5d5e60;
    --laranja: #e55812;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--branco);
    font-family: 'Kodemono';
    background-color: black;
}

.c-grid {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: var(--cadet);
    display: flex;

    button {
        display: none;
    }

    img {
        width: 300px;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    nav.menu {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

        a {
            color: var(--branco);
            font-size: 18px;
            text-decoration: underline transparent;
        }

        a:hover {
            font-weight: 600;
        }
    }

}

.banner {
    height: 90vh;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
}

.banner-content {
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;

    p {
        font-size: 32px;
    }
}

#about {
    background-image: url(img/background2.png);
    height: 100%;
    background-repeat: no-repeat;

    p {
        font-weight: 600;
    }
}

.aboutdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        max-width: 175px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    img.logotipo {
        margin-bottom: 20px;
        margin-top: unset;
        max-height: 100px;
        max-width: 300px;
    }

    p {
        font-family: 'Rajdhani';
        font-size: 18px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h1,
    h2 {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Comfortaa';
    }

    h1 {
        margin-top: 15px;
    }
}

.why {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    h2 {
        padding: 15px;
        font-size: 32px;
    }

    h1 {
        font-weight: 500;
        font-family: 'Comfortaa';
        font-size: 28px;
        padding: 15px;
    }

    p {
        padding: 10px;
        font-family: 'Rajdhani';
        font-size: larger;
        text-align: center;
    }
}

#cases {

    margin-top: 45px;
    height: 800px;


    h1 {
        text-align: center;
        font-size: 28px;
    }

    .empresas {
        padding: 100px;
        display: flex;
        justify-content: center;

        .item1,
        .item2,
        .item3 {
            position: relative;
            width: 300px;
            height: 325px;
        }

        .item1 {

            .f1 {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .g1 {
                position: absolute;
                left: 7%;
            }

        }

        .item2 {

            .f2 {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .g2 {
                position: absolute;
                left: 7%;
            }

        }

        .item3 {

            .f3 {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .g3 {
                position: absolute;
                left: 7%;
            }

        }

        svg {
            max-width: 300px;
            max-height: 325px;
        }

        img {
            max-width: 300px;
            max-height: 325px;
            transition: .5s ease;
            opacity: 0;
        }

        img:hover {
            opacity: 1;
        }

        .text {
            text-align: center;
        }
    }
}

#suporte {
    text-align: center;
    padding: 35px;

    img:not(.logotipou) {
        max-width: 75px;
        margin-top: 40px;
        cursor: pointer;
    }

    .dropbtn {
        background-color: transparent;
        color: white;
        font-weight: bold;
        padding: 16px;
        font-size: 24px;
        border: none;
        font-family: 'Kodemono';
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--cadet);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content form {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: var(--cadet);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: transparent;
    }

    button:not(.dropbtn){
        background-color: var(--laranja);
        color: white;
        width: 60%;
        height: 25px;
        margin-top: 15%;

        border: none;
        border-radius: 4px;

        font-family: 'Kodemono';
        font-size: 17px;
        font-weight: 700;

        cursor: pointer;

        transition: background-color 500ms ease;
    }

    button:hover {
        background-color: #ad4929;
    }

    .logotipou {
        max-width: 320px;
        display: flex;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    p {
        display: flex;
        padding: 8px;
        font-size: 26px;
        font-weight: 550;
        width: fit-content;
    }

    p:hover:not(.copyright) {
        font-weight: 700;
        cursor: pointer;
    }

}

@media screen and (max-width: 1300px) {
    /* help meeeeeeeeeeeeeee */

    .banner-content {
        p {
            font-size: 26px;
        }

        img {
            height: 150px;
        }
    }

    #cases {

        svg {
            height: 300px;
        }

        img {
            height: 300px;
        }

        .empresas {

            .item1,
            .item2,
            .item3 {

                .g1 {
                    left: 10%;
                }

                .g2 {
                    left: 10%;
                }

                .g3 {
                    left: 10%;
                }
            }
        }
    }

}

@media screen and (max-width: 1100px) {
    /* help meeeeeeeeeeeeeee */

    .banner-content {
        p {
            font-size: 23px;
        }

        img {
            height: 130px;
        }
    }

    #cases {

        svg {
            height: 270px;
        }

        img {
            height: 270px;
        }

        .empresas {

            .item1,
            .item2,
            .item3 {

                .g1 {
                    left: 15%;
                }

                .g2 {
                    left: 15%;
                }

                .g3 {
                    left: 15%;
                }
            }
        }
    }

}

@media screen and (max-width: 900px) {

    .banner-content {
        p {
            font-size: 23px;
        }

        img {
            height: 115px;
        }
    }

    #cases {

        svg {
            height: 270px;
        }

        img {
            height: 270px;
        }

        .empresas {

            .item1 {
                right: 10%;

                .g1 {
                    left: 17%;
                }
            }

            .item2 {
                right: 5%;

                .g2 {
                    left: 17%;
                }
            }

            .item3 {
                .g3 {
                    left: 17%;
                }
            }
        }
    }

}

@media screen and (max-width: 800px) {
    /* help */

    header {
        nav.menu {
            display: none;
        }

        button {
            position: absolute;
            top: 1%;
            left: 85%;
            display: unset;
            width: 50px;
            border: none;
            background: none;
            fill: white;
        }
    }

    .banner-content {
        p {
            font-size: 21px;
        }

        img {
            height: 110px;
        }
    }

    .aboutdiv {

        h1,
        h2 {
            font-size: 22px;
        }

        p {
            font-size: 18px;
        }
    }

    .why {
        h2 {
            font-size: 26px;
        }

        h1 {
            font-size: 22px;
        }
    }

    #cases {

        svg {
            height: 250px;
        }

        img {
            height: 250px;
        }

        .empresas {


            .item1 {
                right: 10%;

                .g1 {
                    left: 25%;
                }
            }

            .item2 {
                right: 5%;

                .g2 {
                    left: 25%;
                }
            }

            .item3 {
                .g3 {
                    left: 25%;
                }
            }

        }
    }


    #suporte {
        .contatos {
            img {
                height: 65px;
                width: 70px;
                margin-left: 10px;
                margin-bottom: 10px;
            }


        }

        img.logotipou {
            height: 40px;
            width: 227px;
        }

        p.copyright {
            font-size: 20px;
        }
    }

}

@media screen and (max-width: 700px) {
    /* help */

    header {
        nav.menu {
            display: none;
        }

        button {
            position: absolute;
            top: 1%;
            left: 85%;
            display: unset;
            width: 50px;
            border: none;
            background: none;
            fill: white;
        }
    }

    .banner-content {
        p {
            font-size: 18px;
        }

        img {
            height: 95px;
        }
    }

    .aboutdiv {

        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 22px;
        }

        p {
            font-size: 16px;
        }
    }

    .why {
        h2 {
            font-size: 26px;
        }

        h1 {
            font-size: 18px;
        }
    }

    #cases {

        svg {
            height: 225px;
        }

        img {
            height: 225px;
        }

        .empresas {


            .item1 {
                right: 20%;

                .g1 {
                    left: 35%;
                }
            }

            .item2 {
                right: 10%;

                .g2 {
                    left: 35%;
                }
            }

            .item3 {
                .g3 {
                    left: 35%;
                }
            }

        }
    }


    #suporte {
        .contatos {
            img {
                height: 65px;
                width: 70px;
                margin-left: 10px;
                margin-bottom: 10px;
            }


        }

        img.logotipou {
            height: 40px;
            width: 227px;
        }

        p.copyright {
            font-size: 20px;
        }
    }

}

@media screen and (max-width: 600px) {

    .banner-content {
        p {
            font-size: 16px;
        }

        img {
            height: 70px;
        }
    }

    #cases {

        svg {
            height: 225px;
        }

        img {
            height: 225px;
        }

        .empresas {


            .item1 {
                right: 40%;

                .g1 {
                    left: 45%;
                }
            }

            .item2 {
                right: 20%;

                .g2 {
                    left: 45%;
                }
            }

            .item3 {
                .g3 {
                    left: 45%;
                }
            }

        }
    }
}

@media screen and (max-width: 500px) {

    .banner-content {
        p {
            font-size: 14px;
        }

        img {
            height: 70px;
        }
    }

    .aboutdiv {
        p {
            font-size: 18px;
        }
    }

    #cases {

        svg {
            height: 200px;
        }

        img {
            height: 200px;
        }

        .empresas {


            .item1 {
                right: 57%;

                .g1 {
                    left: 70%;
                }
            }

            .item2 {
                right: 33%;

                .g2 {
                    left: 70%;
                }
            }

            .item3 {
                right: 8%;

                .g3 {
                    left: 70%;
                }
            }

        }
    }
}

@media screen and (max-width: 400px) {

    .banner-content {
        p {
            font-size: 10px;
        }

        img {
            height: 60px;
        }
    }

    .aboutdiv {
        p {
            font-size: 18px;
        }
    }

    #cases {

        svg {
            height: 155px;
        }

        img {
            height: 155px;
        }

        .empresas {


            .item1 {
                right: 95%;

                .g1 {
                    left: 130%;
                }
            }

            .item2 {
                right: 58%;

                .g2 {
                    left: 130%;
                }
            }

            .item3 {
                right: 22%;

                .g3 {
                    left: 130%;
                }
            }

        }
    }

    #suporte {
        .contatos {
            img {
                height: 50px;
                width: 40px;
            }
        }
    }
}